<div id="palm-dialog-content" class="palm-dialog-content">
	<div id="dialog-title" class="dialog-title" x-mojo-loc="">
		Set Location
	</div>         
	<div class="palm-dialog-separator"></div>
	<div class="dialog-message">
		<div id="weatherlocation" class="TextField" x-mojo-element="TextField"></div>
	</div>
	<div x-mojo-element="RadioButton" id="MyRadioBtn"></div>
</div>
 
<div class="palm-dialog-buttons">
	<div id='okayButton' x-mojo-element="Button"></div>
	<div id='gpsButton' x-mojo-element="Button"></div>
</div>